In [182]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [183]:
# Dataset for all the Cities in India
import requests
import csv
import json
import pandas as pd
from pandas import DataFrame as df
import os
import numpy as np

JSON_URL = 'https://api.covid19india.org/v4/min/timeseries-MH.min.json'
URL = 'https://api.covid19india.org/v4/min/timeseries-'
EXT = '.min.json'
JSON_INDIA = 'https://api.covid19india.org/v4/min/timeseries.min.json'

In [184]:
state_name = []


req_date = requests.get(JSON_URL)
req_India = requests.get(JSON_INDIA)

stateNames = df(req_India.json())
statesData = stateNames.T

for st in statesData.index:
     if not 'UN' in st:
         state_name.append(st)

unwanted_st = {'UN', 'TT', 'Other State', 'Other Region', 'Other', 'Unknown'} 
state_name = [ele for ele in state_name if ele not in unwanted_st]

    

dtcolNames =[]
covidData =[]
covidRec = []
covidDeath = []
otherData = []
tested = []

In [185]:
dates = df(req_date.json()['MH']['districts']['Mumbai'])
for dt in dates.index:
    dtcolNames.append(dt + ",")

In [186]:
def name_correction(state):
        if state == 'TT':
            state = "India Total"
            return state
        
        if state == 'AN':
            state = "Andaman and Nikobar Islands"
            return state
        
        if state == 'AP':
            state = "Andhra Pradesh"
            return state
        
        if state == 'AR':
            state = "Arunachal Pradesh"
            return state
        
        if state == 'AS':
            state = "Assam"
            return state
        
        if state == 'BR':
            state = "Bihar"
            return state
        
        if state == 'CH':
            state = "Chandigarh"
            return state
        
        if state == 'CT':
            state = "Chhattisgarh"    
            return state
        
        if state == 'DL':
            state = "Delhi"
            return state
        
        if state == 'DN':
            state = "Dadra NHDD"
            return state
        
        if state == 'GA':
            state = "Goa"
            return state
        
        if state == 'GJ':
            state = "Gujarat"
            return state
        
        if state == 'HP':
            state = "Himachal Pradesh"
            return state
        
        if state == 'HR':
            state = "Haryana"
            return state
        
        if state == 'JH':
            state = "Jharkhand"
            return state
        
        if state == 'JK':
            state = "Jammu and Kashmir"
            return state
        
        if state == 'KA':
            state = "Karnataka"
            return state
        
        if state == 'KL':
            state = "Kerala"
            return state
        
        if state == 'LA':
            state = "Ladakh"
            return state
        
        if state == 'MH':
            state = "Maharashtra"
            return state
        
        if state == 'ML':
            state = "Meghalaya"
            return state
        
        if state == 'MN':
            state ="Manipur"
            return state
        
        if state == 'MP':
            state = "Madhya Pradesh"
            return state
        
        if state == 'MZ':
            state = "Mizoram"
            return state
            
        if state == 'NL':
            state = "Nagaland"
            return state
        
        if state == 'OR':
            state ="Odisha"
            return state
        
        if state == 'PB':
            state = "Punjab"
            return state
        
        if state == 'PY':
            state = "Puducherry"
            return state
        
        if state == 'RJ':
            state = "Rajasthan"
            return state
        
        if state == 'SK':
            state ="Sikkim"
            return state
        
        if state == 'TG':
            state ="Telangana"
            return state
        
        if state == 'TN':
            state ="Tamil Nadu"
            return state
        
        if state == 'TR':
            state = "Tripura"
            return state
        
        if state == 'UP':
            state ="Uttar Pradesh"
            return state
        
        if state == 'UT':
            state = "Uttarakhand"
            return state
        
        if state == 'WB':
            state = "West Bengal"
            return state

In [187]:
for st in state_name:
    st_name = name_correction(st)
    #print ('statename: ' + st_name)
    dist_name  = []
  
    JSON_URL = URL + st + EXT
    req = requests.get(JSON_URL)    
    distNames = df(req.json())
    if 'districts' in distNames.index:
        distNames = df(req.json()[st]['districts'])
        distNames = distNames.T

        for dis in distNames.index:
            #print (st + " : " + dis)
            dist_name.append(dis)
 
  
        # items to be removed 
        unwanted_elem = {'Foreign Evacuees', 'Other State', 'Other Region', 'Others', 'Other', 'Unknown', 'Italians',
                         'Evacuees','BSF Camp', 'Airport Quarantine', 'Railway Quarantine', 'State Pool'} 
  
        dist_name = [ele for ele in dist_name if ele not in unwanted_elem]
            
        
                
        for dist  in dist_name:   
            
            i=0
            covidData.append('\n')
            
            
            if dist == st_name:
                dist_ = dist + " Region"
                #print(st_name + " : " + dist_)
                
            else:
                dist_ = dist  
            
            #print("final : " + dist_)
            covidData.append(st_name + "," + st + "," + dist_ + ",")
            
            covidRec.append('\n')
            covidRec.append(st_name + "," + st + "," + dist_ + ",")
            
            covidDeath.append('\n')
            covidDeath.append(st_name + "," + st + "," + dist_ + ",")
            
            otherData.append('\n')
            otherData.append(st_name + "," + st + "," + dist_ + ",")
            
            tested.append('\n')
            tested.append(st_name + "," + st + "," + dist_ + ",")
    
            covid = df(req.json()[st]['districts'][dist])
    
            
            for conf, dt in zip(covid.dates, covid.index):
                #print(dt)
                dt = dt + ","
                i+=1
                index = dtcolNames.index(dt) + 1
                if i!= index:
                    #print(st + ":" + dist + ":" + dt + ":  Ind: " + str(index) + ":" +  "i :" + str(i))
                    if i == 1:
                        for n in range(index-1):
                            covidData.append("0,")
                            covidRec.append("0,")
                            covidDeath.append("0,")
                            otherData.append("0,")
                            tested.append("No Data,")
                            
                    else:    
                        for n in range(index-i+1):
                            covidData.append("0,")
                            covidRec.append("0,")
                            covidDeath.append("0,")
                            otherData.append("0,")
                            tested.append("No Data,")
                            
                    i = index
                
               
                    
                for t in conf.keys():
                    if 'total' in t:
                        if 'confirmed' in (conf['total'].keys()):
                            covidData.append(str(conf['total']['confirmed']) + ",")
                        if not 'confirmed' in (conf['total'].keys()):
                            covidData.append("0,")
                    
                        if 'recovered' in (conf['total'].keys()):
                            covidRec.append(str(conf['total']['recovered']) + ",")
                        if not 'recovered' in (conf['total'].keys()):
                            covidRec.append("0,")
                    
                        if 'deceased' in (conf['total'].keys()):
                            covidDeath.append(str(conf['total']['deceased']) + ",")
                        if not 'deceased' in (conf['total'].keys()):
                            covidDeath.append("0,")
                        
                        if 'other' in (conf['total'].keys()):
                            otherData.append(str(conf['total']['other']) + ",")
                        if not 'other' in (conf['total'].keys()):
                            otherData.append("0,")
                        
                        if 'tested' in (conf['total'].keys()):
                            tested.append(str(conf['total']['tested']) + ",")
                        if not 'tested' in (conf['total'].keys()):
                            tested.append("No Data,")
                            
                            
                            
            if dt != dtcolNames[len(dtcolNames)-1]:
                diff = len(dtcolNames) - dtcolNames.index(dt)
                for n in range(diff):
                    covidData.append(covidData[len(covidData)-1])
                    covidDeath.append(covidDeath[len(covidDeath)-1])
                    covidRec.append(covidRec[len(covidRec)-1])
                    otherData.append(otherData[len(otherData)-1])
                    tested.append(tested[len(tested)-1])
                    
                
                
            
    else:
        print("State without sistrict's data : "+ st)

In [188]:
with open('Indian_Cities_total_confirmed_cases.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidData)
    
with open('Indian_Cities_total_recovered_cases.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidRec)

with open('Indian_Cities_total_Death_toll.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(covidDeath)

with open('Indian_Cities_other_counts.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(otherData)

with open('Indian_Cities_tests_counts.csv', 'w') as f:
    f.writelines("State,State Code,District,")
    f.writelines(dtcolNames)
    f.writelines(tested)

##############################################################################################################################

## Population Data

In [189]:
Population_URL = "https://api.covid19india.org/v4/min/data.min.json"
state_name = []
state_name_dist = []
st_name = []
state_p = []

st_name_dist = []
dist_p = []
dist_name = []

In [190]:
req_Pop = requests.get(Population_URL)
p_data = df(req_Pop.json())
population_data = p_data.T

In [191]:
for st in population_data.index:
     if not 'UN' in st:
         state_name.append(st)
         state_name_dist.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'}
unwanted_st_dist = {'UN', 'TT','Other State', 'Other Region', 'Other', 'Unknown'}
state_name = [ele for ele in state_name if ele not in unwanted_st]
state_name_dist = [ele for ele in state_name_dist if ele not in unwanted_st_dist]

In [192]:
for elem in state_name:
    st_name.append(name_correction(elem))
    state_p.append(p_data[elem]['meta']['population'])
    print(name_correction(elem), ":", p_data[elem]['meta']['population'])

Andaman and Nikobar Islands : 397000
Andhra Pradesh : 52221000
Arunachal Pradesh : 1504000
Assam : 34293000
Bihar : 119520000
Chandigarh : 1179000
Chhattisgarh : 28724000
Delhi : 19814000
Dadra NHDD : 959000
Goa : 1540000
Gujarat : 67936000
Himachal Pradesh : 7300000
Haryana : 28672000
Jharkhand : 37403000
Jammu and Kashmir : 13203000
Karnataka : 65798000
Kerala : 35125000
Ladakh : 293000
Maharashtra : 122153000
Meghalaya : 3224000
Manipur : 3103000
Madhya Pradesh : 82232000
Mizoram : 1192000
Nagaland : 2150000
Odisha : 43671000
Punjab : 29859000
Puducherry : 1504000
Rajasthan : 77264000
Sikkim : 664000
Telangana : 37220000
Tamil Nadu : 75695000
Tripura : 3992000
India Total : 1332900000
Uttar Pradesh : 224979000
Uttarakhand : 11141000
West Bengal : 96906000

In [193]:
df_state_p = {'State': st_name,
           'Population': state_p}

df_state_pop = pd.DataFrame(df_state_p, columns = ['State', 'Population'])
#df_state_pop

In [194]:
for elem in state_name_dist:
    if 'districts' in  p_data[elem]:
        for elem1 in p_data[elem]['districts']:
            if 'meta' in p_data[elem]['districts'][elem1]:
                if 'population' in p_data[elem]['districts'][elem1]['meta']:
                    st_name_dist.append(name_correction(elem))
                    dist_name.append(elem1)
                    dist_p.append(p_data[elem]['districts'][elem1]['meta']['population'])
            else:
                st_name_dist.append(name_correction(elem))
                dist_name.append(elem1)
                dist_p.append('NA')
                    #print(name_correction(elem), ":",elem1,":", p_data[elem]['districts'][elem1]['meta']['population'])
                #else:
                    #print(name_correction(elem), ":", elem1)

In [195]:
df_city_p = {'State': st_name_dist,
              'City/Region':dist_name,
           'Population': dist_p}

df_city_pop = pd.DataFrame(df_city_p, columns = ['State', 'City/Region', 'Population'])
#'Foreign Evacuees', 'Other State', 'Other Region', 'Others', 'Other', 'Unknown'

###############################################################################################################################

### Cities data

In [196]:
IN_data_sc = pd.read_csv("./Indian_Cities_total_confirmed_cases.csv")

In [197]:
#df_city_pop[df_city_pop['City/Region']=='Nashik']['Population'].values[0]
cr_pop_data = []
for cr in IN_data_sc['District'].values:
    if cr in df_city_pop['City/Region'].values:      
        cr_pop_data.append(df_city_pop[df_city_pop['City/Region']== cr]['Population'].values[0])
    else:
        if cr == 'Delhi Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Delhi']['Population'].values[0])
        elif cr == 'Chandigarh Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Chandigarh']['Population'].values[0])
        elif cr == 'Puducherry Region':
            cr_pop_data.append(df_state_pop[df_state_pop['State'] == 'Puducherry']['Population'].values[0])
        else:
            cr_pop_data.append('NA')

In [198]:
IN_data_sc['Population'] = cr_pop_data

In [199]:
IN_data_sc[IN_data_sc['Population'] == 'NA']

,State,State Code,District,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,...,2020-09-19,2020-09-20,2020-09-21,2020-09-22,2020-09-23,2020-09-24,2020-09-25,2020-09-26,Unnamed: 157,Population
15,Arunachal Pradesh,AR,Dibang Valley,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NA
19,Arunachal Pradesh,AR,Kra Daadi,0,0,0,0,0,0,0,...,4,4,4,5,7,7,7,7,NaN,NA
21,Arunachal Pradesh,AR,Lepa Rada,0,0,0,0,0,0,0,...,83,86,88,90,90,90,94,94,NaN,NA
28,Arunachal Pradesh,AR,Pakke Kessang,0,0,0,0,0,0,0,...,37,40,52,55,64,65,66,66,NaN,NA
89,Chhattisgarh,CT,Gaurela Pendra Marwahi,0,0,0,0,0,0,0,...,267,267,267,267,269,277,283,283,NaN,NA
313,Madhya Pradesh,MP,Agar Malwa,11,11,11,12,12,12,12,...,333,341,348,355,367,373,376,380,NaN,NA
345,Madhya Pradesh,MP,Niwari,0,0,0,0,0,0,0,...,288,291,291,308,314,319,319,321,NaN,NA
367,Mizoram,MZ,Hnahthial,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,NaN,NA
368,Mizoram,MZ,Khawzawl,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,NaN,NA
374,Mizoram,MZ,Saitual,0,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,NaN,NA

In [200]:
# Location of cities
l_city = pd.read_csv("./India_city_location.csv")
city_loc = l_city[['District', 'Latitude (generated)', 'Longitude (generated)']]
city_loc

               District  Latitude (generated)  Longitude (generated)
0             Zunheboto             25.970000              94.520000
1              Yavatmal             20.400000              78.133300
2                 Yanam             16.721100              82.197400
3           Yamunanagar             30.100000              77.283000
4                Yadgir             16.766700              77.133300
..                  ...                   ...                    ...
628  Airport Quarantine                   NaN                    NaN
629          Ahmednagar             19.083300              74.733300
630           Ahmedabad             23.030000              72.580000
631                Agra             27.180000              78.020000
632          Agar Malwa             23.711416              76.001005

[633 rows x 3 columns]

In [201]:
cr_loc_data_lat = []
cr_loc_data_lon = []
for cl in IN_data_sc['District'].values:
    if cl in city_loc['District'].values:      
        cr_loc_data_lat.append(city_loc[city_loc['District']== cl]['Latitude (generated)'].values[0])
        cr_loc_data_lon.append(city_loc[city_loc['District']== cl]['Longitude (generated)'].values[0])
    else:
        if cl == 'Delhi Region':
            cr_loc_data_lat.append(city_loc[city_loc['District']== 'Delhi']['Latitude (generated)'].values[0])
            cr_loc_data_lon.append(city_loc[city_loc['District']== 'Delhi']['Longitude (generated)'].values[0])
        elif cr == 'Chandigarh Region':
            cr_loc_data_lat.append(city_loc[city_loc['District']== 'Chandigarh']['Latitude (generated)'].values[0])
            cr_loc_data_lon.append(city_loc[city_loc['District']== 'Chandigarh']['Longitude (generated)'].values[0])
        elif cr == 'Puducherry Region':
            cr_loc_data_lat.append(city_loc[city_loc['District']== 'Puducherry']['Latitude (generated)'].values[0])
            cr_loc_data_lon.append(city_loc[city_loc['District']== 'Puducherry']['Longitude (generated)'].values[0])
        else:
            cr_loc_data_lat.append('NA')
            cr_loc_data_lon.append('NA')

In [211]:
IN_data_sc['Latitude_city'] = cr_loc_data_lat
IN_data_sc['Longitude_city'] = cr_loc_data_lon

In [212]:
IN_data_sc

,State,State Code,District,2020-04-26,2020-04-27,2020-04-28,2020-04-29,2020-04-30,2020-05-01,2020-05-02,...,2020-09-21,2020-09-22,2020-09-23,2020-09-24,2020-09-25,2020-09-26,Unnamed: 157,Population,Latitude_city,Longitude_city
0,Andhra Pradesh,AP,Anantapur,53,53,54,58,61,67,71,...,53342,53651,54263,54760,55216,55729,NaN,4083315,14.683300,77.600000
1,Andhra Pradesh,AP,Chittoor,73,73,74,77,80,80,80,...,55215,56117,56653,57555,58268,59243,NaN,4170468,13.200000,79.116700
2,Andhra Pradesh,AP,East Godavari,39,39,39,40,42,42,45,...,87769,88935,90047,91142,92173,93184,NaN,5151549,17.156719,81.179812
3,Andhra Pradesh,AP,Guntur,214,237,254,283,287,306,308,...,49978,50584,51232,51783,52316,52709,NaN,4889230,16.300000,80.450000
4,Andhra Pradesh,AP,Krishna,177,210,223,236,246,246,258,...,24163,24507,24935,25281,25704,26154,NaN,4529009,16.430742,80.220929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,West Bengal,WB,Purba Bardhaman,1,1,1,1,1,1,1,...,4346,4441,4516,4582,4647,4703,NaN,4835532,23.452643,87.742244
628,West Bengal,WB,Purba Medinipur,22,22,22,22,22,22,22,...,9660,9801,9906,10005,10095,10224,NaN,4417377,22.059071,87.534346
629,West Bengal,WB,Purulia,0,0,0,0,0,0,0,...,2860,2933,2990,3086,3145,3198,NaN,2927965,23.333300,86.366700
630,West Bengal,WB,South 24 Parganas,12,12,12,12,12,12,12,...,15356,15574,15776,15994,16251,16445,NaN,8153176,22.084380,88.034981
631,West Bengal,WB,Uttar Dinajpur,0,0,0,0,0,0,0,...,3155,3213,3255,3317,3369,3408,NaN,3000849,25.869064,87.605534

In [213]:
state_sc  = IN_data_sc.groupby("State")

In [214]:
state_scatter = IN_data_sc.T
state_scatter

,0,1,2,3,4,5,6,7,8,9,...,622,623,624,625,626,627,628,629,630,631
State,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,...,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal
State Code,AP,AP,AP,AP,AP,AP,AP,AP,AP,AP,...,WB,WB,WB,WB,WB,WB,WB,WB,WB,WB
District,Anantapur,Chittoor,East Godavari,Guntur,Krishna,Kurnool,Prakasam,S.P.S. Nellore,Srikakulam,Visakhapatnam,...,Murshidabad,Nadia,North 24 Parganas,Paschim Bardhaman,Paschim Medinipur,Purba Bardhaman,Purba Medinipur,Purulia,South 24 Parganas,Uttar Dinajpur
2020-04-26,53,73,39,214,177,279,56,72,3,22,...,2,6,47,7,0,1,22,0,12,0
2020-04-27,53,73,39,237,210,292,56,79,4,22,...,2,6,47,7,0,1,22,0,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-26,55729,59243,93184,52709,26154,55456,46063,50493,38090,49039,...,5581,6846,48876,6807,9278,4703,10224,3198,16445,3408
Unnamed: 157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population,4083315,4170468,5151549,4889230,4529009,4046601,3392764,2966082,2699471,4288113,...,7102430,5168488,10082852,2882031,5094238,4835532,4417377,2927965,8153176,3000849
Latitude_city,14.6833,13.2,17.1567,16.3,16.4307,15.8222,15.6357,14.4333,18.3,17.7,...,24.18,22.7062,22.6824,23.4745,22.3572,23.4526,22.0591,23.3333,22.0844,25.8691
Longitude_city,77.6,79.1167,81.1798,80.45,80.2209,78.035,79.0457,79.9667,83.9,83.25,...,88.27,88.7445,88.1551,87.3015,86.667,87.7422,87.5343,86.3667,88.035,87.6055

In [215]:
state_scatter.index[0:3]

Index(['State', 'State Code', 'District'], dtype='object')

In [216]:
state_scatter.index[3:-4]

Index(['2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30',
       '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
       ...
       '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20', '2020-09-21',
       '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-26'],
      dtype='object', length=154)

In [217]:
date_len = len(state_scatter.index[3:-4]) 
date_len

154

In [218]:
state_list = state_scatter.iloc[0]
len(state_list)

632

In [219]:
num_city = len(state_scatter.iloc[2]) 
city_list = state_scatter.iloc[2]
state_list = state_scatter.iloc[0]
pop_list = state_scatter.iloc[-3]
lat_list = state_scatter.iloc[-2]
lon_list = state_scatter.iloc[-1]

city_sc = []
state_sc = []
pop_sc = []
lat_sc = []
lon_sc = []
for city, state, pop, lat, lon in zip(city_list, state_list, pop_list, lat_list, lon_list):
    for i in range(date_len):
        city_sc.append(city)
        state_sc.append(state)
        pop_sc.append(pop)
        lat_sc.append(lat)
        lon_sc.append(lon)

In [220]:
nullval = state_scatter.index[-4]
nullval

'Unnamed: 157'

In [221]:
state_scatter_= state_scatter.drop(index = ['State','State Code','District','Population', 'Latitude_city', 'Longitude_city',nullval])
state_scatter_

,0,1,2,3,4,5,6,7,8,9,...,622,623,624,625,626,627,628,629,630,631
2020-04-26,53,73,39,214,177,279,56,72,3,22,...,2,6,47,7,0,1,22,0,12,0
2020-04-27,53,73,39,237,210,292,56,79,4,22,...,2,6,47,7,0,1,22,0,12,0
2020-04-28,54,74,39,254,223,332,56,82,4,22,...,2,6,47,7,0,1,22,0,12,0
2020-04-29,58,77,40,283,236,343,60,82,5,23,...,2,6,47,7,0,1,22,0,12,0
2020-04-30,61,80,42,287,246,386,60,84,5,23,...,2,6,47,7,0,1,22,0,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-22,53651,56117,88935,50584,24507,54491,43208,48684,36574,47410,...,5224,6419,46234,6400,8803,4441,9801,2933,15574,3213
2020-09-23,54263,56653,90047,51232,24935,54720,43710,49163,36893,47824,...,5329,6528,46866,6519,8906,4516,9906,2990,15776,3255
2020-09-24,54760,57555,91142,51783,25281,55045,44637,49568,37354,48249,...,5406,6635,47498,6608,9033,4582,10005,3086,15994,3317
2020-09-25,55216,58268,92173,52316,25704,55250,45443,50027,37784,48589,...,5488,6729,48183,6696,9132,4647,10095,3145,16251,3369
2020-09-26,55729,59243,93184,52709,26154,55456,46063,50493,38090,49039,...,5581,6846,48876,6807,9278,4703,10224,3198,16445,3408

In [222]:
len(state_scatter_.columns.values)

632

In [223]:
#list(state_scatter_)
cc_list = []
for i in list(state_scatter_): 
    cl = state_scatter_[i].tolist()
    for i in cl:
        cc_list.append(i)

In [224]:
len(cc_list)

97328

In [225]:
state_scatter_.drop(state_scatter_.columns[0:len(state_scatter_.columns.values)], axis =1)
len(state_scatter_.index)

154

In [226]:
date_list = []
for i in range(num_city):
    for ind in state_scatter_.index:
       date_list.append(ind)

In [227]:
len(date_list)

97328

In [228]:
index_list  = []
for i in range(len(date_list)):
    index_list.append(i)

In [229]:
len(index_list)

97328

In [235]:
df_data = {'Date': date_list,
           'State': state_sc,
          'City/Region': city_sc,
           'Latitude' : lat_sc,
           'Longitude' :lon_sc,
           'Population_Region' : pop_sc,
          'Confirmed Cases': cc_list}

In [236]:
df_scatter = pd.DataFrame(df_data, columns = ['Date', 'State', 'City/Region', 'Latitude', 'Longitude', 'Population_Region','Confirmed Cases'], index= index_list)
df_scatter

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases
0,2020-04-26,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,53
1,2020-04-27,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,53
2,2020-04-28,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,54
3,2020-04-29,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,58
4,2020-04-30,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,61
...,...,...,...,...,...,...,...
97323,2020-09-22,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3213
97324,2020-09-23,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3255
97325,2020-09-24,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3317
97326,2020-09-25,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3369
97327,2020-09-26,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3408

In [237]:
IN_data_dt_sc = pd.read_csv("./Indian_Cities_total_Death_toll.csv")
IN_data_rec_sc = pd.read_csv("./Indian_Cities_total_recovered_cases.csv")
IN_data_other_sc = pd.read_csv("./Indian_Cities_other_counts.csv")
IN_data_tests_sc = pd.read_csv("./Indian_Cities_tests_counts.csv")

In [238]:
state_dt_sc  = IN_data_dt_sc.groupby("State")
state_rec_sc = IN_data_rec_sc.groupby("State")
state_other_sc = IN_data_other_sc.groupby("State")
state_tests_sc = IN_data_tests_sc.groupby("State")

In [239]:
state_scatter_dt = IN_data_dt_sc.T
state_scatter_rec = IN_data_rec_sc.T
state_scatter_other = IN_data_other_sc.T
state_scatter_tests = IN_data_tests_sc.T

In [240]:
nullval1 = state_scatter_dt.index[-1]
nullval2 = state_scatter_rec.index[-1]
nullval3 = state_scatter_other.index[-1]
nullval4 = state_scatter_tests.index[-1]

In [241]:
state_scatter_dt_= state_scatter_dt.drop(index = ['State','State Code','District', nullval1])
state_scatter_rec_ = state_scatter_rec.drop(index = ['State','State Code','District', nullval2])
state_scatter_other_ = state_scatter_other.drop(index = ['State','State Code','District', nullval3])
state_scatter_tests_ = state_scatter_tests.drop(index = ['State','State Code','District', nullval4])

In [242]:
dt_list = []
rec_list = []
other_list = []
tests_list = []

for i in list(state_scatter_dt_): 
    cl1 = state_scatter_dt_[i].tolist()
    for i in cl1:
        dt_list.append(i)

for i in list(state_scatter_rec_): 
    cl2 = state_scatter_rec_[i].tolist()
    for i in cl2:
        rec_list.append(i)

for i in list(state_scatter_other_): 
    cl3 = state_scatter_other_[i].tolist()
    for i in cl3:
        other_list.append(i)
        
for i in list(state_scatter_tests_): 
    cl4 = state_scatter_tests_[i].tolist()
    for i in cl4:
        tests_list.append(i)

In [243]:
df_scatter["Recovered Cases"] = rec_list
df_scatter['Death Toll'] = dt_list
df_scatter['Other'] = other_list
df_scatter['Tested'] = tests_list

In [244]:
active_sc = []
for i,j,k,l in zip(df_scatter['Confirmed Cases'], df_scatter['Recovered Cases'], df_scatter['Death Toll'], df_scatter['Other']):
    val = i-(j+k+l)
    if val <0:
        val = 0
    active_sc.append(val)

#IN_conf_covid['Active_Cases'] = IN_conf_covid.apply(lambda row: row.Confirmed_Cases - (row.Recovered_Cases + row.Death_Toll), axis = 1)
# Above statement is ideal in case of non negative values
df_scatter['Active Cases'] = active_sc
df_scatter[df_scatter['City/Region'] == 'Mumbai']

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
43582,2020-04-26,Maharashtra,Mumbai,18.9667,72.8333,12442373,5407,641,204,0,No Data,4562
43583,2020-04-27,Maharashtra,Mumbai,18.9667,72.8333,12442373,5776,711,219,0,No Data,4846
43584,2020-04-28,Maharashtra,Mumbai,18.9667,72.8333,12442373,6169,798,244,0,No Data,5127
43585,2020-04-29,Maharashtra,Mumbai,18.9667,72.8333,12442373,6644,936,270,0,No Data,5438
43586,2020-04-30,Maharashtra,Mumbai,18.9667,72.8333,12442373,7061,1092,290,0,No Data,5679
...,...,...,...,...,...,...,...,...,...,...,...,...
43731,2020-09-22,Maharashtra,Mumbai,18.9667,72.8333,12442373,187904,152204,8555,383,1035440,26762
43732,2020-09-23,Maharashtra,Mumbai,18.9667,72.8333,12442373,190264,154088,8604,386,1045706,27186
43733,2020-09-24,Maharashtra,Mumbai,18.9667,72.8333,12442373,192427,155638,8658,390,1057640,27741
43734,2020-09-25,Maharashtra,Mumbai,18.9667,72.8333,12442373,194303,156808,8706,394,1057640,28395
43735,2020-09-26,Maharashtra,Mumbai,18.9667,72.8333,12442373,194303,156808,8706,394,1057640,28395

In [245]:
#  Covid19 Statewise data(creating a separate csv as City specific CSV does not have data of some small towns which affects the overall state specific numbers)
import requests
from pandas import DataFrame as df

JSON_URL = 'https://api.covid19india.org/v4/min/timeseries.min.json'

state_name  = []
dtcolNames =[]
covidData =[]
covidRec = []
covidDeath = []
otherData = []
tested = []


#df = pd.read_json(JSON_URL)
req = requests.get(JSON_URL)


stateNames = df(req.json())
statesData = stateNames.T


for st in statesData.index:
    state_name.append(st)

unwanted_st = {'UN', 'Other State', 'Other Region', 'Other', 'Unknown'} 
state_name = [ele for ele in state_name if ele not in unwanted_st]


# # In case of fixed Dates
date_ = df(req.json()['TT'])
for dt in date_.index:
    dtcolNames.append(dt + ",")
    

for state in state_name:   
    
    st_name = name_correction(state)
    print(st_name)
  
    i=0
    covidData.append('\n')
    covidData.append(st_name + "," + state + "," )
    
    covidRec.append('\n')
    covidRec.append(st_name + "," + state + "," )
    
    covidDeath.append('\n')
    covidDeath.append(st_name + "," + state + "," )
    
    otherData.append('\n')
    otherData.append(st_name + "," + state + "," )
    
    tested.append('\n')
    tested.append(st_name + "," + state + "," )
    
    covid = df(req.json()[state])

     
            
    for conf, dt in zip(covid.dates, covid.index):
        dt = dt + ","
        i+=1
        index = dtcolNames.index(dt) + 1
        if i!= index:
           #print(st + ":" + dist + ":" + dt + ":  Ind: " + str(index) + ":" +  "i :" + str(i))
           if i == 1:
               for n in range(index-1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
                   otherData.append("0,")
                   tested.append("No Data,")
           else:    
               for n in range(index-i+1):
                   covidData.append("0,")
                   covidRec.append("0,")
                   covidDeath.append("0,")
                   tested.append("No Data,")
                   
           i = index             
            
        
        for t in conf.keys():
            if 'total' in t:
                if 'confirmed' in (conf['total'].keys()):
                    covidData.append(str(conf['total']['confirmed']) + ",")
                if not 'confirmed' in (conf['total'].keys()):
                    covidData.append("0,")
                   
                if 'recovered' in (conf['total'].keys()):
                    covidRec.append(str(conf['total']['recovered']) + ",")
                if not 'recovered' in (conf['total'].keys()):
                    covidRec.append("0,")
                   
                if 'deceased' in (conf['total'].keys()):
                    covidDeath.append(str(conf['total']['deceased']) + ",")
                if not 'deceased' in (conf['total'].keys()):
                    covidDeath.append("0,")
                
                if 'other' in (conf['total'].keys()):
                    otherData.append(str(conf['total']['other']) + ",")
                if not 'other' in (conf['total'].keys()):
                    otherData.append("0,")
                    
                if 'tested' in (conf['total'].keys()):
                    tested.append(str(conf['total']['tested']) + ",")
                if not 'tested' in (conf['total'].keys()):
                    tested.append("No Data,")
          
    if dt != dtcolNames[len(dtcolNames)-1]:
          diff = len(dtcolNames) - dtcolNames.index(dt)
          for n in range(diff):
              covidData.append(covidData[len(covidData)-1])
              covidDeath.append(covidDeath[len(covidDeath)-1])
              covidRec.append(covidRec[len(covidRec)-1])  
              otherData.append(otherData[len(otherData)-1])
              tested.append(tested[len(tested)-1])


with open('Indian_States_total_confirmed_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidData)
    
with open('Indian_States_total_recovered_cases.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidRec)

with open('Indian_States_total_Death_toll.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(covidDeath)


with open('Indian_States_other_count.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(otherData)

with open('Indian_States_tests_count.csv', 'w') as f:
    f.writelines("State,State Code,")
    f.writelines(dtcolNames)
    f.writelines(tested)

Andaman and Nikobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Delhi
Dadra NHDD
Goa
Gujarat
Himachal Pradesh
Haryana
Jharkhand
Jammu and Kashmir
Karnataka
Kerala
Ladakh
Maharashtra
Meghalaya
Manipur
Madhya Pradesh
Mizoram
Nagaland
Odisha
Punjab
Puducherry
Rajasthan
Sikkim
Telangana
Tamil Nadu
Tripura
India Total
Uttar Pradesh
Uttarakhand
West Bengal

In [246]:
IN_data_st = pd.read_csv("./Indian_States_total_confirmed_cases.csv")
col_no_st = len(IN_data_st.columns) - 2 
#col_no_st
IN_conf_st = IN_data_st.columns[col_no_st]
#IN_conf_st
IN_data_st.rename(columns = {IN_conf_st:'Confirmed_Cases'}, inplace = True)
#IN_data_st
IN_st = IN_data_st.drop(IN_data_st.columns[3:col_no_st], axis =1)
IN_conf_covid_st = IN_st.drop(IN_st.columns[[2,4]], axis =1)
IN_conf_covid_st.head(30)

                          State State Code  Confirmed_Cases
0   Andaman and Nikobar Islands         AN             3759
1                Andhra Pradesh         AP           668751
2             Arunachal Pradesh         AR             8671
3                         Assam         AS           167374
4                         Bihar         BR           177355
5                    Chandigarh         CH            11212
6                  Chhattisgarh         CT            98565
7                         Delhi         DL           264450
8                    Dadra NHDD         DN             2993
9                           Goa         GA            31574
10                      Gujarat         GJ           131808
11             Himachal Pradesh         HP            13679
12                      Haryana         HR           122267
13                    Jharkhand         JH            77709
14            Jammu and Kashmir         JK            71049
15                    Karnataka         KA           566023
16                       Kerala         KL           167940
17                       Ladakh         LA             4025
18                  Maharashtra         MH          1300757
19                    Meghalaya         ML             5158
20                      Manipur         MN            10051
21               Madhya Pradesh         MP           119899
22                      Mizoram         MZ             1835
23                     Nagaland         NL             5862
24                       Odisha         OR           205452
25                       Punjab         PB           107096
26                   Puducherry         PY            25489
27                    Rajasthan         RJ           124730
28                       Sikkim         SK             2755
29                    Telangana         TG           183866

In [247]:
st_pop_data = []
for cr in IN_conf_covid_st['State'].values:
    if cr in df_state_pop['State'].values:      
        st_pop_data.append(df_state_pop[df_state_pop['State']== cr]['Population'].values[0])
    else:
        st_pop_data.append('NA')

In [248]:
IN_conf_covid_st['Population_Region'] = st_pop_data

In [249]:
IN_conf_covid_st

                          State State Code  Confirmed_Cases  Population_Region
0   Andaman and Nikobar Islands         AN             3759             397000
1                Andhra Pradesh         AP           668751           52221000
2             Arunachal Pradesh         AR             8671            1504000
3                         Assam         AS           167374           34293000
4                         Bihar         BR           177355          119520000
5                    Chandigarh         CH            11212            1179000
6                  Chhattisgarh         CT            98565           28724000
7                         Delhi         DL           264450           19814000
8                    Dadra NHDD         DN             2993             959000
9                           Goa         GA            31574            1540000
10                      Gujarat         GJ           131808           67936000
11             Himachal Pradesh         HP            13679            7300000
12                      Haryana         HR           122267           28672000
13                    Jharkhand         JH            77709           37403000
14            Jammu and Kashmir         JK            71049           13203000
15                    Karnataka         KA           566023           65798000
16                       Kerala         KL           167940           35125000
17                       Ladakh         LA             4025             293000
18                  Maharashtra         MH          1300757          122153000
19                    Meghalaya         ML             5158            3224000
20                      Manipur         MN            10051            3103000
21               Madhya Pradesh         MP           119899           82232000
22                      Mizoram         MZ             1835            1192000
23                     Nagaland         NL             5862            2150000
24                       Odisha         OR           205452           43671000
25                       Punjab         PB           107096           29859000
26                   Puducherry         PY            25489            1504000
27                    Rajasthan         RJ           124730           77264000
28                       Sikkim         SK             2755             664000
29                    Telangana         TG           183866           37220000
30                   Tamil Nadu         TN           575017           75695000
31                      Tripura         TR            24405            3992000
32                  India Total         TT          5954932         1332900000
33                Uttar Pradesh         UP           382835          224979000
34                  Uttarakhand         UT            46281           11141000
35                  West Bengal         WB           244240           96906000

In [250]:
IN_data_dt_st = pd.read_csv("./Indian_States_total_Death_toll.csv")
#IN_data_dt_st.head()
IN_data_rec_st = pd.read_csv("./Indian_States_total_recovered_cases.csv")
#IN_data_rec_st.head()

IN_data_other_st = pd.read_csv("./Indian_States_other_count.csv")
#IN_data_rec_st.head()

IN_data_tests_st = pd.read_csv("./Indian_States_tests_count.csv")
#IN_data_rec_st.head()

col_rec_st = len(IN_data_rec_st.columns) - 2
col_name_rec_st = IN_data_rec_st.columns[col_rec_st]
IN_conf_covid_st['Recovered_Cases'] = IN_data_rec_st[col_name_rec_st].values
#IN_conf_covid_st

col_dt_st = len(IN_data_dt_st.columns) - 2
col_name_dt_st = IN_data_dt_st.columns[col_dt_st]
IN_conf_covid_st['Death_Toll'] = IN_data_dt_st[col_name_dt_st].values

col_other_st = len(IN_data_other_st.columns) - 2
col_name_other_st = IN_data_other_st.columns[col_other_st]
IN_conf_covid_st['Other'] = IN_data_other_st[col_name_other_st].values
#IN_conf_covid_st

col_tests_st = len(IN_data_tests_st.columns) - 2
col_name_tests_st = IN_data_tests_st.columns[col_tests_st]
IN_conf_covid_st['Tested'] = IN_data_tests_st[col_name_tests_st].values
#IN_conf_covid_st

IN_conf_covid_st['Country'] = 'India'
IN_conf_covid_st

,State,State Code,Confirmed_Cases,Population_Region,Recovered_Cases,Death_Toll,Other,Tested,Country
0,Andaman and Nikobar Islands,AN,3759,397000,3528,52,0,55169,India
1,Andhra Pradesh,AP,668751,52221000,597294,5663,0,5523786,India
2,Arunachal Pradesh,AR,8671,1504000,6230,14,0,235979,India
3,Assam,AS,167374,34293000,136712,625,3,3078746,India
4,Bihar,BR,177355,119520000,163132,886,1,6730100,India
5,Chandigarh,CH,11212,1179000,8677,145,0,72652,India
6,Chhattisgarh,CT,98565,28724000,66860,777,0,1015613,India
7,Delhi,DL,264450,19814000,228436,5147,0,2815650,India
8,Dadra NHDD,DN,2993,959000,2775,2,31,63512,India
9,Goa,GA,31574,1540000,25759,391,0,248153,India
10,Gujarat,GJ,131808,67936000,112009,3407,0,4172051,India
11,Himachal Pradesh,HP,13679,7300000,9526,152,25,280048,India
12,Haryana,HR,122267,28672000,103827,1291,0,1827148,India
13,Jharkhand,JH,77709,37403000,64515,661,0,1990078,India
14,Jammu and Kashmir,JK,71049,13203000,51494,1125,0,1539284,India
15,Karnataka,KA,566023,65798000,455719,8503,19,4586780,India
16,Kerala,KL,167940,35125000,114526,657,80,2717040,India
17,Ladakh,LA,4025,293000,2971,56,0,48490,India
18,Maharashtra,MH,1300757,122153000,992806,34761,415,6376676,India
19,Meghalaya,ML,5158,3224000,3343,43,0,138942,India
20,Manipur,MN,10051,3103000,7681,64,0,228546,India
21,Madhya Pradesh,MP,119899,82232000,95490,2181,0,1952747,India
22,Mizoram,MZ,1835,1192000,1316,0,0,72410,India
23,Nagaland,NL,5862,2150000,4782,11,42,77364,India
24,Odisha,OR,205452,43671000,165432,836,0,3062717,India
25,Punjab,PB,107096,29859000,84025,3134,0,1740183,India
26,Puducherry,PY,25489,1504000,19781,494,0,171561,India
27,Rajasthan,RJ,124730,77264000,104288,1412,0,3024341,India
28,Sikkim,SK,2755,664000,2016,31,0,49099,India
29,Telangana,TG,183866,37220000,152441,1091,0,2800761,India
30,Tamil Nadu,TN,575017,75695000,519448,9233,0,7004558,India
31,Tripura,TR,24405,3992000,17969,265,23,378120,India
32,India Total,TT,5954932,1332900000,4893664,93914,849,70269975,India
33,Uttar Pradesh,UP,382835,224979000,320232,5517,0,9467186,India
34,Uttarakhand,UT,46281,11141000,34649,566,210,668282,India
35,West Bengal,WB,244240,96906000,213975,4721,0,3055039,India

In [251]:
active_st = []
for i,j,k,l in zip(IN_conf_covid_st['Confirmed_Cases'], IN_conf_covid_st['Recovered_Cases'], IN_conf_covid_st['Death_Toll'], IN_conf_covid_st['Other']):
    val_st = i-(j+k+l)
    if val_st <0:
        val_st = 0
    active_st.append(val_st)

IN_conf_covid_st['Active_Cases'] = active_st
IN_conf_covid_st

,State,State Code,Confirmed_Cases,Population_Region,Recovered_Cases,Death_Toll,Other,Tested,Country,Active_Cases
0,Andaman and Nikobar Islands,AN,3759,397000,3528,52,0,55169,India,179
1,Andhra Pradesh,AP,668751,52221000,597294,5663,0,5523786,India,65794
2,Arunachal Pradesh,AR,8671,1504000,6230,14,0,235979,India,2427
3,Assam,AS,167374,34293000,136712,625,3,3078746,India,30034
4,Bihar,BR,177355,119520000,163132,886,1,6730100,India,13336
5,Chandigarh,CH,11212,1179000,8677,145,0,72652,India,2390
6,Chhattisgarh,CT,98565,28724000,66860,777,0,1015613,India,30928
7,Delhi,DL,264450,19814000,228436,5147,0,2815650,India,30867
8,Dadra NHDD,DN,2993,959000,2775,2,31,63512,India,185
9,Goa,GA,31574,1540000,25759,391,0,248153,India,5424
10,Gujarat,GJ,131808,67936000,112009,3407,0,4172051,India,16392
11,Himachal Pradesh,HP,13679,7300000,9526,152,25,280048,India,3976
12,Haryana,HR,122267,28672000,103827,1291,0,1827148,India,17149
13,Jharkhand,JH,77709,37403000,64515,661,0,1990078,India,12533
14,Jammu and Kashmir,JK,71049,13203000,51494,1125,0,1539284,India,18430
15,Karnataka,KA,566023,65798000,455719,8503,19,4586780,India,101782
16,Kerala,KL,167940,35125000,114526,657,80,2717040,India,52677
17,Ladakh,LA,4025,293000,2971,56,0,48490,India,998
18,Maharashtra,MH,1300757,122153000,992806,34761,415,6376676,India,272775
19,Meghalaya,ML,5158,3224000,3343,43,0,138942,India,1772
20,Manipur,MN,10051,3103000,7681,64,0,228546,India,2306
21,Madhya Pradesh,MP,119899,82232000,95490,2181,0,1952747,India,22228
22,Mizoram,MZ,1835,1192000,1316,0,0,72410,India,519
23,Nagaland,NL,5862,2150000,4782,11,42,77364,India,1027
24,Odisha,OR,205452,43671000,165432,836,0,3062717,India,39184
25,Punjab,PB,107096,29859000,84025,3134,0,1740183,India,19937
26,Puducherry,PY,25489,1504000,19781,494,0,171561,India,5214
27,Rajasthan,RJ,124730,77264000,104288,1412,0,3024341,India,19030
28,Sikkim,SK,2755,664000,2016,31,0,49099,India,708
29,Telangana,TG,183866,37220000,152441,1091,0,2800761,India,30334
30,Tamil Nadu,TN,575017,75695000,519448,9233,0,7004558,India,46336
31,Tripura,TR,24405,3992000,17969,265,23,378120,India,6148
32,India Total,TT,5954932,1332900000,4893664,93914,849,70269975,India,966505
33,Uttar Pradesh,UP,382835,224979000,320232,5517,0,9467186,India,57086
34,Uttarakhand,UT,46281,11141000,34649,566,210,668282,India,10856
35,West Bengal,WB,244240,96906000,213975,4721,0,3055039,India,25544

In [273]:
#Drop India(Total cases)
#IN_conf_covid_st_sca = IN_conf_covid_st.drop(index =32)
#IN_conf_covid_st_sca

In [274]:
IN_data_sc_st = pd.read_csv("./Indian_States_total_confirmed_cases.csv")

In [281]:
st_pop_data_sc = []
for cr in IN_data_sc_st['State'].values:
    if cr in df_state_pop['State'].values:      
        st_pop_data_sc.append(df_state_pop[df_state_pop['State']== cr]['Population'].values[0])
    else:
        st_pop_data_sc.append('NA')

In [282]:
IN_data_sc_st['Population_Region'] = st_pop_data_sc

In [283]:
# Add Location for states in India
IN_data_loc = pd.read_csv("./India_State_location.csv")
IN_data_st_loc = IN_data_st_loc[['State', 'Latitude (generated)', 'Longitude (generated)']]
IN_data_st_loc

                          State  Latitude (generated)  Longitude (generated)
0                   West Bengal               24.4206                88.0343
1                   Uttarakhand               30.0939                79.3250
2                 Uttar Pradesh               27.1861                80.8350
3                       Tripura               23.7373                91.6575
4                     Telangana               17.7956                79.0397
5                    Tamil Nadu               10.8327                78.3436
6                        Sikkim               27.6003                88.4524
7                     Rajasthan               26.6860                73.8182
8                        Punjab               31.0732                75.6577
9                    Puducherry               11.9246                79.7813
10                       Odisha               20.2057                84.4853
11                     Nagaland               26.1236                94.5493
12                      Mizoram               23.2379                92.8631
13                    Meghalaya               25.5682                91.2546
14                      Manipur               24.7664                93.8647
15                  Maharashtra               18.8493                75.4561
16               Madhya Pradesh               23.5000                78.5000
17                       Ladakh               34.9539                76.7666
18                       Kerala               10.5502                76.4434
19                    Karnataka               15.0527                75.5344
20                    Jharkhand               23.7500                85.5000
21            Jammu and Kashmir               33.6619                74.8668
22             Himachal Pradesh               31.8299                77.3506
23                      Haryana               29.3031                76.0522
24                      Gujarat               23.0000                72.0000
25                          Goa               15.3474                74.1033
26                        Delhi               28.6415                77.1259
27                   Dadra NHDD               20.2040                73.0070
28                 Chhattisgarh               21.5000                82.0000
29                   Chandigarh               30.7308                76.7808
30                        Bihar               25.7500                85.7500
31                        Assam               26.0667                90.7559
32            Arunachal Pradesh               28.0762                94.9823
33               Andhra Pradesh               14.9176                78.7448
34  Andaman and Nikobar Islands               12.6120                92.8317

In [333]:
st_pop_loc_lat = []
st_pop_loc_lon = []

for cr in IN_data_sc_st['State'].values:
    if cr in IN_data_st_loc['State'].values:      
        st_pop_loc_lat.append(IN_data_st_loc[IN_data_st_loc['State']== cr]['Latitude (generated)'].values[0])
        st_pop_loc_lon.append(IN_data_st_loc[IN_data_st_loc['State']== cr]['Longitude (generated)'].values[0])
    else:
        st_pop_loc_lat.append('NA')
        st_pop_loc_lon.append('NA')

In [334]:
IN_data_sc_st['Latitude'] = st_pop_loc_lat
IN_data_sc_st['Longitude'] = st_pop_loc_lon

IN_data_sc_st

,State,State Code,2020-01-30,2020-02-02,2020-02-03,2020-02-14,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2020-09-21,2020-09-22,2020-09-23,2020-09-24,2020-09-25,2020-09-26,Unnamed: 215,Population_Region,Latitude,Longitude
0,Andaman and Nikobar Islands,AN,0,0,0,0,0,0,0,0,...,3673,3691,3712,3744,3759,3759,NaN,397000,12.612,92.8317
1,Andhra Pradesh,AP,0,0,0,0,0,0,0,0,...,631749,639302,646530,654385,661458,668751,NaN,52221000,14.9176,78.7448
2,Arunachal Pradesh,AR,0,0,0,0,0,0,0,0,...,7595,7844,8133,8416,8671,8671,NaN,1504000,28.0762,94.9823
3,Assam,AS,0,0,0,0,0,0,0,0,...,159320,161393,163491,165582,167374,167374,NaN,34293000,26.0667,90.7559
4,Bihar,BR,0,0,0,0,0,0,0,0,...,169856,171465,173063,174266,175898,177355,NaN,119520000,25.75,85.75
5,Chandigarh,CH,0,0,0,0,0,0,0,0,...,10298,10546,10726,10968,11212,11212,NaN,1179000,30.7308,76.7808
6,Chhattisgarh,CT,0,0,0,0,0,0,0,0,...,88181,90917,93351,95623,98565,98565,NaN,28724000,21.5,82
7,Delhi,DL,0,0,0,0,1,1,1,2,...,249259,253075,256789,260623,264450,264450,NaN,19814000,28.6415,77.1259
8,Dadra NHDD,DN,0,0,0,0,0,0,0,0,...,2937,2948,2966,2981,2993,2993,NaN,959000,20.204,73.007
9,Goa,GA,0,0,0,0,0,0,0,0,...,28753,29343,29879,30552,31071,31574,NaN,1540000,15.3474,74.1033
10,Gujarat,GJ,0,0,0,0,0,0,0,0,...,124767,126169,127541,128949,130391,131808,NaN,67936000,23,72
11,Himachal Pradesh,HP,0,0,0,0,0,0,0,0,...,12438,12769,13049,13386,13679,13679,NaN,7300000,31.8299,77.3506
12,Haryana,HR,0,0,0,0,0,0,14,14,...,113075,114870,116856,118554,120578,122267,NaN,28672000,29.3031,76.0522
13,Jharkhand,JH,0,0,0,0,0,0,0,0,...,72673,73948,75089,76438,77709,77709,NaN,37403000,23.75,85.5
14,Jammu and Kashmir,JK,0,0,0,0,0,0,0,0,...,65026,66261,67510,68614,69832,71049,NaN,13203000,33.6619,74.8668
15,Karnataka,KA,0,0,0,0,0,0,0,0,...,526876,533850,540847,548557,557212,566023,NaN,65798000,15.0527,75.5344
16,Kerala,KL,1,2,3,3,3,3,3,3,...,138632,142757,148133,154457,160934,167940,NaN,35125000,10.5502,76.4434
17,Ladakh,LA,0,0,0,0,0,0,0,0,...,3832,3887,3933,3969,4025,4025,NaN,293000,34.9539,76.7666
18,Maharashtra,MH,0,0,0,0,0,0,0,0,...,1224380,1242770,1263799,1282963,1300757,1300757,NaN,122153000,18.8493,75.4561
19,Meghalaya,ML,0,0,0,0,0,0,0,0,...,4733,4791,4961,5083,5158,5158,NaN,3224000,25.5682,91.2546
20,Manipur,MN,0,0,0,0,0,0,0,0,...,9010,9280,9376,9537,9791,10051,NaN,3103000,24.7664,93.8647
21,Madhya Pradesh,MP,0,0,0,0,0,0,0,0,...,108167,110711,113057,115361,117588,119899,NaN,82232000,23.5,78.5
22,Mizoram,MZ,0,0,0,0,0,0,0,0,...,1585,1691,1713,1759,1786,1835,NaN,1192000,23.2379,92.8631
23,Nagaland,NL,0,0,0,0,0,0,0,0,...,5544,5604,5671,5730,5768,5862,NaN,2150000,26.1236,94.5493
24,Odisha,OR,0,0,0,0,0,0,0,0,...,184122,188311,192548,196888,201096,205452,NaN,43671000,20.2057,84.4853
25,Punjab,PB,0,0,0,0,0,0,0,0,...,99930,101341,103464,105220,107096,107096,NaN,29859000,31.0732,75.6577
26,Puducherry,PY,0,0,0,0,0,0,0,0,...,23191,23684,24227,24895,25489,25489,NaN,1504000,11.9246,79.7813
27,Rajasthan,RJ,0,0,0,0,0,1,2,2,...,116881,118793,120739,122720,124730,124730,NaN,77264000,26.686,73.8182
28,Sikkim,SK,0,0,0,0,0,0,0,0,...,2447,2513,2548,2612,2707,2755,NaN,664000,27.6003,88.4524
29,Telangana,TG,0,0,0,0,1,1,1,1,...,172608,174774,177070,179246,181627,183866,NaN,37220000,17.7956,79.0397
30,Tamil Nadu,TN,0,0,0,0,0,0,0,0,...,547337,552674,557999,563691,569370,575017,NaN,75695000,10.8327,78.3436
31,Tripura,TR,0,0,0,0,0,0,0,0,...,22272,22831,23335,23786,24127,24405,NaN,3992000,23.7373,91.6575
32,India Total,TT,1,2,3,3,5,6,28,30,...,5560119,5643481,5730184,5816105,5901825,5954932,NaN,1332900000,NA,NA
33,Uttar Pradesh,UP,0,0,0,0,0,0,7,8,...,358893,364543,369686,374277,378533,382835,NaN,224979000,27.1861,80.835
34,Uttarakhand,UT,0,0,0,0,0,0,0,0,...,41777,42651,43720,44404,45332,46281,NaN,11141000,30.0939,79.325
35,West Bengal,WB,0,0,0,0,0,0,0,0,...,228302,231484,234673,237869,241059,244240,NaN,96906000,24.4206,88.0343

In [335]:
state_scatter_st = IN_data_sc_st.T

date_len_st = len(state_scatter_st.index[2:-4]) 
#date_len_st
state_list_st = state_scatter_st.iloc[0]
len(state_list_st)
#state_scatter_st.index[2:-4]

36

In [337]:
pop_list_st = state_scatter_st.iloc[-3]
lat_list_st = state_scatter_st.iloc[-2]
lon_list_st = state_scatter_st.iloc[-1]

In [339]:
state_scatter_st.index

Index(['State', 'State Code', '2020-01-30', '2020-02-02', '2020-02-03',
       '2020-02-14', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       ...
       '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25',
       '2020-09-26', 'Unnamed: 215', 'Population_Region', 'Latitude',
       'Longitude'],
      dtype='object', length=219)

In [340]:
state_sc_st = []
pop_sc_st = []
lat_sc_st = []
lon_sc_st = []

for state in state_list_st:
    for i in range(date_len_st):
        state_sc_st.append(state)
        
for pop in pop_list_st:
    for i in range(date_len_st):
        pop_sc_st.append(pop)
        
for lat in lat_list_st:
    for i in range(date_len_st):
        lat_sc_st.append(lat)
        
for lon in lon_list_st:
    for i in range(date_len_st):
        lon_sc_st.append(lon)

nval = state_scatter_st.index[-4]
#nval
state_scatter_st= state_scatter_st.drop(index = ['State','State Code','Population_Region', 'Latitude','Longitude',nval])
state_scatter_st

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
2020-01-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-02-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
2020-02-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
2020-02-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
2020-03-02,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-22,3691,639302,7844,161393,171465,10546,90917,253075,2948,29343,...,23684,118793,2513,174774,552674,22831,5643481,364543,42651,231484
2020-09-23,3712,646530,8133,163491,173063,10726,93351,256789,2966,29879,...,24227,120739,2548,177070,557999,23335,5730184,369686,43720,234673
2020-09-24,3744,654385,8416,165582,174266,10968,95623,260623,2981,30552,...,24895,122720,2612,179246,563691,23786,5816105,374277,44404,237869
2020-09-25,3759,661458,8671,167374,175898,11212,98565,264450,2993,31071,...,25489,124730,2707,181627,569370,24127,5901825,378533,45332,241059
2020-09-26,3759,668751,8671,167374,177355,11212,98565,264450,2993,31574,...,25489,124730,2755,183866,575017,24405,5954932,382835,46281,244240

In [341]:
len(state_scatter_st.columns.values)

36

In [342]:
#list for Confirmed cases
cc_list_st = []
for i in list(state_scatter_st): 
    cl_st = state_scatter_st[i].tolist()
    for i in cl_st:
        cc_list_st.append(i)

#len(cc_list_st)

In [343]:
state_scatter_st = state_scatter_st.drop(state_scatter_st.columns[0:len(state_scatter_st.columns.values)], axis =1)
#state_scatter_st
#len(state_scatter_st.index)

In [344]:
# list for dates
date_list_st = []
for i in range(len(state_list_st)):
    for ind_st in state_scatter_st.index:
       date_list_st.append(ind_st)

#len(date_list_st)

In [345]:
#list for indexes
index_list_st  = []
for i in range(len(date_list_st)):
    index_list_st.append(i)

#len(index_list_st)

In [346]:
len(lat_sc_st)

7668

In [349]:
df_data_st = {'Date': date_list_st,
           'State': state_sc_st,
            'City/Region': state_sc_st,
              'Latitude' : lat_sc_st,
              'Longitude' : lon_sc_st,
            'Population_Region':pop_sc_st,
          'Confirmed Cases': cc_list_st}

df_scatter_st = pd.DataFrame(df_data_st, columns = ['Date', 'State', 'City/Region', 'Latitude', 'Longitude', 'Population_Region','Confirmed Cases'], index= index_list_st)
#df_scatter_st[df_scatter_st['State'] == 'India Total']

In [350]:
state_scatter_dt_st = IN_data_dt_st.T
state_scatter_rec_st = IN_data_rec_st.T
state_scatter_other_st = IN_data_other_st.T
state_scatter_tests_st = IN_data_tests_st.T

nullval1 = state_scatter_dt_st.index[-1]
nullval2 = state_scatter_rec_st.index[-1]
nullval3 = state_scatter_other_st.index[-1]
nullval4 = state_scatter_tests_st.index[-1]

In [351]:
state_scatter_dtst_= state_scatter_dt_st.drop(index = ['State','State Code', nullval1])
state_scatter_recst_ = state_scatter_rec_st.drop(index = ['State','State Code', nullval2])
state_scatter_otherst_ = state_scatter_other_st.drop(index = ['State','State Code', nullval3])
state_scatter_testsst_ = state_scatter_tests_st.drop(index = ['State','State Code', nullval4])

In [352]:
df_scatter_st

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0
...,...,...,...,...,...,...,...
7663,2020-09-22,West Bengal,West Bengal,24.4206,88.0343,96906000,231484
7664,2020-09-23,West Bengal,West Bengal,24.4206,88.0343,96906000,234673
7665,2020-09-24,West Bengal,West Bengal,24.4206,88.0343,96906000,237869
7666,2020-09-25,West Bengal,West Bengal,24.4206,88.0343,96906000,241059
7667,2020-09-26,West Bengal,West Bengal,24.4206,88.0343,96906000,244240

In [353]:
dt_list_st = []
rec_list_st = []
other_list_st = []
tests_list_st = []

for i in list(state_scatter_dtst_): 
    cl1_ = state_scatter_dtst_[i].tolist()
    for i in cl1_:
        dt_list_st.append(i)

for i in list(state_scatter_recst_): 
    cl2_ = state_scatter_recst_[i].tolist()
    for i in cl2_:
        rec_list_st.append(i)

for i in list(state_scatter_otherst_): 
    cl3_ = state_scatter_otherst_[i].tolist()
    for i in cl3_:
        other_list_st.append(i)
        
for i in list(state_scatter_testsst_): 
    cl4_ = state_scatter_testsst_[i].tolist()
    for i in cl4_:
        tests_list_st.append(i)

#len(rec_list_st)
df_scatter_st["Recovered Cases"] = rec_list_st
df_scatter_st['Death Toll'] = dt_list_st
df_scatter_st['Other'] = other_list_st
df_scatter_st['Tested'] = tests_list_st
df_scatter_st

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data
...,...,...,...,...,...,...,...,...,...,...,...
7663,2020-09-22,West Bengal,West Bengal,24.4206,88.0343,96906000,231484,202030,4483,0,2879278
7664,2020-09-23,West Bengal,West Bengal,24.4206,88.0343,96906000,234673,205028,4544,0,2924507
7665,2020-09-24,West Bengal,West Bengal,24.4206,88.0343,96906000,237869,208042,4606,0,2967939
7666,2020-09-25,West Bengal,West Bengal,24.4206,88.0343,96906000,241059,211020,4665,0,3011754
7667,2020-09-26,West Bengal,West Bengal,24.4206,88.0343,96906000,244240,213975,4721,0,3055039

In [354]:
active_sc_st = []
for i,j,k,l in zip(df_scatter_st['Confirmed Cases'], df_scatter_st['Recovered Cases'], df_scatter_st['Death Toll'], df_scatter_st['Other']):
    val_ = i-(j+k+l)
    if val_ <0:
        val_ = 0
    active_sc_st.append(val_)

df_scatter_st['Active Cases'] = active_sc_st
df_scatter_st.tail(40)

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
7628,2020-08-18,West Bengal,West Bengal,24.4206,88.0343,96906000,122753,92690,2528,0,1382198,27535
7629,2020-08-19,West Bengal,West Bengal,24.4206,88.0343,96906000,125922,95663,2581,0,1416556,27678
7630,2020-08-20,West Bengal,West Bengal,24.4206,88.0343,96906000,129119,98789,2634,0,1451615,27696
7631,2020-08-21,West Bengal,West Bengal,24.4206,88.0343,96906000,132364,101871,2689,0,1487844,27804
7632,2020-08-22,West Bengal,West Bengal,24.4206,88.0343,96906000,135596,104959,2737,0,1524162,27900
7633,2020-08-23,West Bengal,West Bengal,24.4206,88.0343,96906000,138870,108007,2794,0,1561311,28069
7634,2020-08-24,West Bengal,West Bengal,24.4206,88.0343,96906000,141837,111292,2851,0,1596578,27694
7635,2020-08-25,West Bengal,West Bengal,24.4206,88.0343,96906000,144801,114543,2909,0,1634102,27349
7636,2020-08-26,West Bengal,West Bengal,24.4206,88.0343,96906000,147775,117857,2964,0,1674133,26954
7637,2020-08-27,West Bengal,West Bengal,24.4206,88.0343,96906000,150772,121046,3017,0,1716607,26709
7638,2020-08-28,West Bengal,West Bengal,24.4206,88.0343,96906000,153754,124332,3073,0,1758728,26349
7639,2020-08-29,West Bengal,West Bengal,24.4206,88.0343,96906000,156766,127644,3126,0,1801960,25996
7640,2020-08-30,West Bengal,West Bengal,24.4206,88.0343,96906000,159785,130952,3176,0,1845396,25657
7641,2020-08-31,West Bengal,West Bengal,24.4206,88.0343,96906000,162778,134270,3228,0,1887635,25280
7642,2020-09-01,West Bengal,West Bengal,24.4206,88.0343,96906000,165721,137616,3283,0,1931373,24822
7643,2020-09-02,West Bengal,West Bengal,24.4206,88.0343,96906000,168697,140913,3339,0,1975493,24445
7644,2020-09-03,West Bengal,West Bengal,24.4206,88.0343,96906000,171681,144248,3394,0,2020784,24039
7645,2020-09-04,West Bengal,West Bengal,24.4206,88.0343,96906000,174659,147553,3452,0,2066404,23654
7646,2020-09-05,West Bengal,West Bengal,24.4206,88.0343,96906000,177701,150801,3510,0,2112185,23390
7647,2020-09-06,West Bengal,West Bengal,24.4206,88.0343,96906000,180788,154008,3562,0,2158690,23218
7648,2020-09-07,West Bengal,West Bengal,24.4206,88.0343,96906000,183865,157029,3620,0,2200906,23216
7649,2020-09-08,West Bengal,West Bengal,24.4206,88.0343,96906000,186956,160025,3677,0,2243294,23254
7650,2020-09-09,West Bengal,West Bengal,24.4206,88.0343,96906000,190063,162992,3730,0,2285936,23341
7651,2020-09-10,West Bengal,West Bengal,24.4206,88.0343,96906000,193175,166027,3771,0,2330283,23377
7652,2020-09-11,West Bengal,West Bengal,24.4206,88.0343,96906000,196332,169043,3828,0,2375609,23461
7653,2020-09-12,West Bengal,West Bengal,24.4206,88.0343,96906000,199493,172085,3887,0,2422740,23521
7654,2020-09-13,West Bengal,West Bengal,24.4206,88.0343,96906000,202708,175139,3945,0,2470058,23624
7655,2020-09-14,West Bengal,West Bengal,24.4206,88.0343,96906000,205919,178223,4003,0,2517595,23693
7656,2020-09-15,West Bengal,West Bengal,24.4206,88.0343,96906000,209146,181142,4062,0,2562821,23942
7657,2020-09-16,West Bengal,West Bengal,24.4206,88.0343,96906000,212383,184113,4123,0,2608534,24147
7658,2020-09-17,West Bengal,West Bengal,24.4206,88.0343,96906000,215580,187061,4183,0,2654070,24336
7659,2020-09-18,West Bengal,West Bengal,24.4206,88.0343,96906000,218772,190021,4242,0,2699299,24509
7660,2020-09-19,West Bengal,West Bengal,24.4206,88.0343,96906000,221960,193014,4298,0,2744862,24648
7661,2020-09-20,West Bengal,West Bengal,24.4206,88.0343,96906000,225137,195972,4359,0,2790518,24806
7662,2020-09-21,West Bengal,West Bengal,24.4206,88.0343,96906000,228302,198983,4421,0,2833831,24898
7663,2020-09-22,West Bengal,West Bengal,24.4206,88.0343,96906000,231484,202030,4483,0,2879278,24971
7664,2020-09-23,West Bengal,West Bengal,24.4206,88.0343,96906000,234673,205028,4544,0,2924507,25101
7665,2020-09-24,West Bengal,West Bengal,24.4206,88.0343,96906000,237869,208042,4606,0,2967939,25221
7666,2020-09-25,West Bengal,West Bengal,24.4206,88.0343,96906000,241059,211020,4665,0,3011754,25374
7667,2020-09-26,West Bengal,West Bengal,24.4206,88.0343,96906000,244240,213975,4721,0,3055039,25544

In [355]:
df_scatter

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
0,2020-04-26,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,53,14,4,0,No Data,35
1,2020-04-27,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,53,14,4,0,No Data,35
2,2020-04-28,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,54,14,4,0,No Data,36
3,2020-04-29,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,58,17,4,0,No Data,37
4,2020-04-30,Andhra Pradesh,Anantapur,14.683300,77.600000,4083315,61,20,4,0,No Data,37
...,...,...,...,...,...,...,...,...,...,...,...,...
97323,2020-09-22,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3213,2846,32,0,No Data,335
97324,2020-09-23,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3255,2890,33,0,No Data,332
97325,2020-09-24,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3317,2936,35,0,No Data,346
97326,2020-09-25,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3369,2983,35,0,No Data,351
97327,2020-09-26,West Bengal,Uttar Dinajpur,25.869064,87.605534,3000849,3408,2983,35,0,No Data,390

### Final Data 
<b>df_scatter</b> : city specific data<br>
<b>df_scatter_st</b> :  state specific data

In [356]:
df_scatter.columns

Index(['Date', 'State', 'City/Region', 'Latitude', 'Longitude',
       'Population_Region', 'Confirmed Cases', 'Recovered Cases', 'Death Toll',
       'Other', 'Tested', 'Active Cases'],
      dtype='object')

In [357]:
df_scatter_st.columns

Index(['Date', 'State', 'City/Region', 'Latitude', 'Longitude',
       'Population_Region', 'Confirmed Cases', 'Recovered Cases', 'Death Toll',
       'Other', 'Tested', 'Active Cases'],
      dtype='object')

In [358]:
covid_frames = [df_scatter_st, df_scatter]

In [359]:
df_covid19 = pd.concat(covid_frames)

In [360]:
df_covid19

,Date,State,City/Region,Latitude,Longitude,Population_Region,Confirmed Cases,Recovered Cases,Death Toll,Other,Tested,Active Cases
0,2020-01-30,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data,0
1,2020-02-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data,0
2,2020-02-03,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data,0
3,2020-02-14,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data,0
4,2020-03-02,Andaman and Nikobar Islands,Andaman and Nikobar Islands,12.612,92.8317,397000,0,0,0,0,No Data,0
...,...,...,...,...,...,...,...,...,...,...,...,...
97323,2020-09-22,West Bengal,Uttar Dinajpur,25.8691,87.6055,3000849,3213,2846,32,0,No Data,335
97324,2020-09-23,West Bengal,Uttar Dinajpur,25.8691,87.6055,3000849,3255,2890,33,0,No Data,332
97325,2020-09-24,West Bengal,Uttar Dinajpur,25.8691,87.6055,3000849,3317,2936,35,0,No Data,346
97326,2020-09-25,West Bengal,Uttar Dinajpur,25.8691,87.6055,3000849,3369,2983,35,0,No Data,351
97327,2020-09-26,West Bengal,Uttar Dinajpur,25.8691,87.6055,3000849,3408,2983,35,0,No Data,390

In [361]:
#df_covid19.to_csv('Covid19_Dashboard.csv', index = True)

## Analysis

### Confirmed cases per million:<br>How many cases out of every 10 lakh people in a particular region have tested positive for the virus?

In [362]:
confirmed_per_mn = []

for i,j in zip(df_covid19['Population_Region'].values, df_covid19['Confirmed Cases'].values):
    if not 'NA' in str(i):
        pmn = (j/i)*1000000
        confirmed_per_mn.append(pmn)
        #print(k, ":", pmn)
    else:
        confirmed_per_mn.append('NA')

In [363]:
df_covid19['Confirmed per million'] = confirmed_per_mn
#df_covid19['Confirmed per lakh'] = confirmed_per_lakh  # move left ny ine disgit 1mn : 25.18, 1 lakh : 2.51, 10k: 0.251

### Active Cases Ratio:<br>For every 100 confirmed cases, How many cases are currently infected?

In [364]:
active_ratio = []
for i,j in zip(df_covid19['Active Cases'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        ar = (i/j)*100
        #print(k, ":", ar)
        active_ratio.append(ar)
    else:
        active_ratio.append(0)

In [365]:
df_covid19['Active Ratio'] = active_ratio

### Recovered Cases Ratio:<br>For every 100 confirmed cases, How many have recovered from the virus?

In [366]:
recovery_ratio = []
for i,j in zip(df_covid19['Recovered Cases'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        rer = (i/j)*100
        #print(k, ":", ar)
        recovery_ratio.append(rer)
    else:
        recovery_ratio.append(0)

In [367]:
df_covid19['Recovery Ratio'] = recovery_ratio

### Case Fatality Ratio:<br>For every 100 confirmed cases, how many have have unfortunately passed away from the virus?

In [368]:
case_fatality_ratio = []
for i,j in zip(df_covid19['Death Toll'].values, df_covid19['Confirmed Cases'].values):
    if not j == 0:
        cfr = (i/j)*100
        #print(k, ":", ar)
        case_fatality_ratio.append(cfr)
    else:
        case_fatality_ratio.append(0)

In [369]:
df_covid19['Case Fatality Ratio'] = case_fatality_ratio

### Total Tests per million:<br>For every 10 lakh people in a particular region, How many samples were tested?
Always consider value of prior day as the data collection is completed for it and for current day collection is still in process.

In [370]:
tests_per_mn = []

for i,j in zip(df_covid19['Tested'].values, df_covid19['Population_Region'].values):
    if not ('No Data' in str(i) or 'NA' in str(j)):
        tmn = (int(i)/j)*1000000
        tests_per_mn.append(tmn)
            #print(k, ":", pmn)
    else:
        tests_per_mn.append('NA')

In [371]:
len(tests_per_mn)

104996

In [372]:
df_covid19['Tests per million'] = tests_per_mn

### Everyday increase in values (delta) for Confirmed, Active and Recovered cases

In [373]:
#TODO

In [374]:
df_covid19.to_csv('Covid19_Dashboard.csv', index = True)

### Average Growth Rate:<br> How much is the Average Growth Rate of new infections in last week?

In [375]:
#TODO
#(((previousDayData - SevenDayBeforeData)/SevenDayBeforeData)*100)/7
#temp = df_covid19[df_covid19['City/Region'] == 'Maharashtra']
#temp['Confirmed Cases'].pct_change(periods =7)